{{#extend "default"}}
  {{#content "main"}}

  <div class="main-container transition--fade transition--active">
            <section class="blog-post">
                <div class="blog-post__title bg--secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                                <h1>{{title}}</h1>
                                <div class="blog-post__author">
                                    <span>
                                        <em>by </em>
                                    </span>
                                    <span class="h6">Abby Bollard</span>
                                </div>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>
                <div class="container">
                    {{{contents}}}

                </div>
                <!--end of container-->
            </section>

   {{/content}}
{{/extend}}
