<div class="main-container transition--fade">
    <section class="height-100 imagebg cover cover-4 parallax" data-overlay="3">
        <div class="background-image-holder background--bottom">
            <img alt="image" src="{{this.backgroundBottom.image}}" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>
                                     {{this.backgroundBottom.title}}
                                </h1>
                    <p class="lead">
                        {{{this.backgroundBottom.name}}}
                        
                    </p>
                    <div>
                        <a class="btn" href="{{this.backgroundBottom.btn.[0]}}">
                            <span class="btn__text">
                                            {{this.backgroundBottom.btn.[1]}}
                                        </span>
                        </a>
                        <div class="modal-instance modal-video-1">
                            <div class="{{this.backgroundBottom.modalvideo.[0]}}"></div>
                            <span class="h6">{{this.backgroundBottom.modalvideo.[1]}}</span>
                            <div class="modal-container">
                                <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                    <iframe src="{{this.backgroundBottom.modalvideo.[2]}}"></iframe>
                                </div>
                                <!--end of modal-content-->
                            </div>
                            <!--end of modal-container-->
                        </div>
                        <!--end of modal instance-->
                    </div>
                </div>
            </div>
        </div>
    </section>
