
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <base href="/">
        <title>Pillar Multipurpose HTML Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/interface-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body class="scroll-assist" data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)" data-reveal-timing="1000">
        <a id="top"></a>
        <div class="loader"></div>
        <nav class="transition--fade">
            <div class="utility-bar bg--secondary">
                <div class="nav-module left">
                    <span class="type--fine-print">{{menu.utility-bar.title}}</span>
                </div>
                <div class="nav-module left">
                    <span class="type--fine-print">{{menu.utility-bar.phone}}</span>
                </div>
                <div class="nav-module right hidden-xs">
                    <ul class="social-list">
                       {{#each menu.utility-bar.list}}
                        <li>
                            <a href="{{this.url}}">
                                <i class="{{this.class}}"></i>
                            </a>
                        </li>
                        {{/each}}
                       
                    </ul>
                </div>
                        
                   
            </div>
            <div class="nav-bar" data-fixed-at="200">
                <div class="nav-module logo-module left">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="logo" src="{{menu.logo.dark}}" />
                        <img class="logo logo-light" alt="logo" src="{{menu.log.light}}" />
                    </a>
                </div>
                <div class="nav-module menu-module left">
                    <ul class="menu">
                          {{#each menu.items}}
                        <li>
                            <a href="./{{this.url}}">
                                {{this.title}}
                            </a>
                            
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <!--end nav module-->
                <div class="nav-module right">
                    <a href="#" class="nav-function" data-notification-link="cart-overview">
                        <i class="{{nav-cart.class}}"></i>
                        <span>{{nav-cart.title}}</span>
                    </a>
                </div>
                <div class="nav-module right">
                    <a href="#" class="nav-function modal-trigger" data-modal-id="search-form">
                        <i class="{{nav-search.class}}"></i>
                        <span>{{nav-search.title}}</span>
                    </a>
                </div>
            </div>
            <!--end nav bar-->
            <div class="nav-mobile-toggle visible-sm visible-xs">
                <i class="icon-Align-Right icon icon--sm"></i>
            </div>
        </nav>