
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <base href="/">
        <title>Pillar Multipurpose HTML Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/interface-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body class="scroll-assist" data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)" data-reveal-timing="1000">
        <a id="top"></a>
        <div class="loader"></div>
        <nav class="transition--fade">
            <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="200">
                <div class="nav-module logo-module left">
                    <a href="">

                        <img class="logo logo-dark" alt="logo" src="{{menu.logo-dark}}" />
                        <img class="logo logo-light" alt="logo" src="{{menu.logo-light}}" />
                    </a>
                </div>
                <div class="nav-module menu-module left">
                    <ul class="menu">
                        {{#each menu.items}}
                        <li>
                            <a href="./{{this.url}}">
                                {{this.title}}
                            </a>
                            
                        </li>
                        {{/each}}
                        
                    </ul>
                </div>
                <!--end nav module-->
                <div class="nav-module right">
                    <a href="#" class="nav-function" data-notification-link="cart-overview">
                        <i class="interface-bag icon icon--sm"></i>
                        <span>Cart</span>
                    </a>
                </div>
                <div class="nav-module right">
                    <a href="#" class="nav-function modal-trigger" data-modal-id="search-form">
                        <i class="interface-search icon icon--sm"></i>
                        <span>Search</span>
                    </a>
                </div>
            </div>
            <!--end nav bar-->
            <div class="nav-mobile-toggle visible-sm visible-xs">
                <i class="icon-Align-Right icon icon--sm"></i>
            </div>
        </nav>
        <div class="notification pos-right pos-top cart-overview" data-notification-link="cart-overview" data-animation="from-right">
            <div class="cart-overview__title">
                <h5>Your Cart</h5>
            </div>
            <ul class="cart-overview__items">
                <li>
                    <div class="item__image">
                        <a href="#">
                            <img alt="product" src="/img/product-small-1.png" />
                        </a>
                    </div>
                    <div class="item__detail">
                        <span>Dave Wool Beanie</span>
                        <span class="h6">1 x $39.00</span>
                    </div>
                    <div class="item__remove" title="Remove From Cart"></div>
                </li>
                <li>
                    <div class="item__image">
                        <a href="#">
                            <img alt="product" src="/img/product-small-2.png" />
                        </a>
                    </div>
                    <div class="item__detail">
                        <span>Rose Tinted Glasses</span>
                        <span class="h6">1 x $89.00</span>
                    </div>
                    <div class="item__remove" title="Remove From Cart"></div>
                </li>
            </ul>
            <div class="cart-overview__subtotal">
                <h5>Subtotal:</h5>
                <span>$128.00</span>
            </div>
            <div class="cart-overview__action">
                <a href="#" class="btn btn--square btn--primary">
                    <span class="btn__text">
                        Checkout Now
                    </span>
                </a>
            </div>
        </div>
        <div class="modal-container search-modal" data-modal-id="search-form">
            <div class="modal-content bg-white imagebg" data-width="100%" data-height="100%">
                <div class="pos-vertical-center clearfix">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                        <form class="clearfix">
                            <div class="input-with-icon">
                                <i class="icon-Magnifi-Glass2 icon icon--sm"></i>
                                <input type="search" name="query" placeholder="Type your search and hit enter" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end of modal-content-->
        </div>
        <!--end of modal-container-->
        <div class="main-container transition--fade">
            <section class="height-100 imagebg cover cover-4 parallax" data-overlay="3">
                <div class="background-image-holder background--bottom">
                    <img alt="image" src="/img/hero21.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1>
                                {{menu.info-banner.[1].title}}
                            </h1>
                            <p class="lead">
                                {{menu.info-banner.[1].name}}
                                <br/>{{menu.info-banner.[1].name-bottom}}
                            </p>
                            
                        </div>
                    </div>
                </div>
            </section>