<section class="partners-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="slider" data-items="6" data-timing="3000">
                    <ul class="slides">

                        <li>
                            <img alt="img" src="{{this.sectionInfoH.img}}" />
                        </li>
                        <li>
                            <img alt="img" src="{{this.sectionInfoH.img1}}" />
                        </li>
                        <li>
                            <img alt="img" src="{{this.sectionInfoH.img2}}" />
                        </li>
                        <li>
                            <img alt="img" src="{{this.sectionInfoH.img3}}" />
                        </li>
                        <li>
                            <img alt="img" src="{{this.sectionInfoH.img4}}"
                             />
                        </li>
                        <li>
                            <img alt="img" src="{{this.sectionInfoH.img5}}" />
                        </li>
                        <li>
                            <img alt="img" src="{{this.sectionInfoH.img6}}" />
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
