 <section class="bg--secondary imageblock features features-1">
    <div class="imageblock__content col-md-5 col-sm-3 pos-left">
        <div class="background-image-holder">
            <img alt="image" src="{{this.sectionInfoA.image}}" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 col-sm-8 col-sm-push-4">
                <h3>{{this.sectionInfoA.title}}</h3>
                <p class="lead">
                    {{{this.sectionInfoA.name}}}
                </p>
                <hr>
                {{#each this.sectionInfoA.icon}}
                <div class="col-xs-6">
                    <div class="feature feature-1">
                        <i class="{{this.class}}"></i>
                        <h5>{{this.title}}</h5>
                        <p>{{this.name}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
